.main-container{
    padding: 0 85px;
}
header{
    display: flex;
    justify-content: center;
}

.search{
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 90%;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}